<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- CREATE THE BASIC CARD TO DISPLAY THE SINGLE ARTICLE INCLUDING IMAGE-->
    <ion-card>
      <ion-img src="{{articleObject.urlToImage}}"></ion-img>
      <ion-card-header>{{articleObject.title}}</ion-card-header>
      <ion-card-content>
        <p>{{articleObject.description}}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
