<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- CREATE THE BASIC CARD TO DISPLAY THE SINGLE ARTICLE INCLUDING IMAGE-->
    <ion-card *ngFor="let article of articles" margin-top>
      <ion-img src="{{article.urlToImage}}"></ion-img>
      <ion-card-header>{{article.title}}</ion-card-header>
      <ion-card-content>
        <p>{{article.description}}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
